<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FunkyEmoji</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/images/FunkyFace2-PixTeller.ico" type="image/x-icon" / >
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    
    <link href="~/css/BodyBackground.css" rel="stylesheet" />

    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FunkyEmoji</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <div class="container" style="padding:30px ; margin-top:50px">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - FunkyEmoji - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.2/vuex.min.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    @RenderSection("Scripts", required: false)

    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)

    <script>
        const localStoragePlugin = store => {
            store.subscribe((mutation, { user }) => {
                // 當執行 setUserData 時才執行以下程式碼
                if (mutation.type === "setUserData") {
                    window.localStorage.setItem("user", JSON.stringify(user));
                }
            });
        };


        const store = new Vuex.Store({
            state: {
                user: {
                    account: "",
                    isLogin: false
                }
            },
            mutations: {
                setUserData(state, { userData }) {
                    state.user.account = userData.account;
                    state.user.isLogin = true;
                }
            },
            actions: {
            },
            modules: {
            },
            plugins: [localStoragePlugin]
        });
    </script>
</body>
</html>
